In [180]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [181]:
df=pd.read_csv('MergedWithBrightness5.26.csv')

In [182]:
df.head()

,Unnamed: 0,SecondsViewed_x,CompPrimaryKey,Programme,New.Cust.ID,Gender,AgeRange,Week.of.Programme.Viewing,VideoGenre,star,...,4,5,6,7,Row Labels,Count of Week.of.Programme.Viewing,Max of Week.of.Programme.Viewing,Min of Week.of.Programme.Viewing,days,NewCols
0,0,898,along-for-the-ride10321,along-for-the-ride,10321,female,25 to 34,6/7/15,"factual,new-zealand",108707,...,0,0,0,1,10321,1,6/7/15,6/7/15,0,along-for-the-ride10321
1,1,1711,along-for-the-ride10472,along-for-the-ride,10472,male,35 to 44,2/15/15,factualnew-zealand,108707,...,0,0,0,1,10472,2,2/22/15,2/15/15,7,along-for-the-ride10472
2,2,3798,along-for-the-ride10570,along-for-the-ride,10570,male,65 to 74,3/1/15,"factual,new-zealand",108707,...,0,0,0,1,10570,1,3/1/15,3/1/15,0,along-for-the-ride10570
3,3,1289,along-for-the-ride10639,along-for-the-ride,10639,female,55 to 64,3/8/15,"factual,new-zealand",108707,...,0,0,0,1,10639,1,3/8/15,3/8/15,0,along-for-the-ride10639
4,4,3427,along-for-the-ride10738,along-for-the-ride,10738,female,45 to 54,3/22/15,factualnew-zealand,108707,...,0,0,0,1,10738,1,3/22/15,3/22/15,0,along-for-the-ride10738

In [183]:
df.columns

Index([u'Unnamed: 0', u'SecondsViewed_x', u'CompPrimaryKey', u'Programme',
       u'New.Cust.ID', u'Gender', u'AgeRange', u'Week.of.Programme.Viewing',
       u'VideoGenre', u'star', u'sum_secondviewed', u'dirctor',
       u'dirctor.ranking', u'producer', u'producer.ranking', u'actor1',
       u'actor1SB', u'actor1.ranking', u'actor1 BS', u'actor2', u'actor2SB',
       u'actor2.ranking', u'actor2 BS', u'actor3', u'actor3SB',
       u'actor3.ranking', u'actor3 BS', u'actor_avg', u'actpr_avg_BS',
       u'Weekday', u'1', u'2', u'3', u'4', u'5', u'6', u'7', u'Row Labels',
       u'Count of Week.of.Programme.Viewing',
       u'Max of Week.of.Programme.Viewing',
       u'Min of Week.of.Programme.Viewing', u'days', u'NewCols'],
      dtype='object')

In [184]:
df['actor1SB']

0        126.287529
1        126.287529
2        126.287529
3        126.287529
4        126.287529
5        126.287529
6        126.287529
7        126.287529
8        126.287529
9        126.287529
10       126.287529
11       126.287529
12       126.287529
13       126.287529
14       126.287529
15       126.287529
16       126.287529
17       126.287529
18       126.287529
19       126.287529
20       126.287529
21       126.287529
22       126.287529
23       126.287529
24       126.287529
25       126.287529
26       126.287529
27       126.287529
28       126.287529
29       126.287529
            ...
68550    163.787927
68551    163.787927
68552    163.787927
68553    163.787927
68554    163.787927
68555    163.787927
68556    163.787927
68557    163.787927
68558    163.787927
68559    163.787927
68560    163.787927
68561    163.787927
68562    163.787927
68563    163.787927
68564    163.787927
68565    163.787927
68566    163.787927
68567    163.787927
68568    163.787927
68569    163.787927
68570    163.787927
68571    163.787927
68572    163.787927
68573    163.787927
68574    163.787927
68575    163.787927
68576    163.787927
68577    163.787927
68578    163.787927
68579    163.787927
Name: actor1SB, dtype: float64

In [185]:
df1 = pd.DataFrame()

In [186]:
df1['actor1'] =df['actor1']
df1['actor2'] =df['actor2']
df1['actor3'] =df['actor3']
df1['actor1SB'] = df['actor1SB']
df1['actor2SB'] = df['actor2SB']
df1['actor3SB'] = df['actor3SB']

In [187]:
df2 = df1.drop_duplicates()

In [188]:
df2.head()

,actor1,actor2,actor3,actor1SB,actor2SB,actor3SB
0,Randall Batinkoff,Dylan Haggerty,J.E. Freeman,126.287529,184.290966,236.677813
310,Tom Bergeron,Bob Saget,Jess Harnell,252.998387,166.142939,185.738825
659,Shawnee Smith,Charlie Sheen,Noureen DeWulf,185.880402,167.082076,180.848887
1092,Stephen Amell,Katie Cassidy,David Ramsey,198.627742,145.322589,154.696580
3529,Jean-Luc Bilodeau,Tahj Mowry,Derek Theler,106.022130,147.626539,168.260702

In [189]:
actor1=df2['actor1SB']
actor2=df2['actor2SB']
actor3=df2['actor3SB']

In [158]:
arr1 = actor1.values
arr2 = actor2.values
arr3 = actor3.values

In [190]:
actor_all = pd.concat([df2['actor1SB'],df2['actor2SB'],df2['actor3SB']])

In [191]:
actor3

0        236.677813
310      185.738825
659      180.848887
1092     154.696580
3529     168.260702
4680     107.644136
4718     195.981969
7400     237.397666
9875     189.891746
11924    220.390002
14907    178.800087
14933    169.630767
17426    175.194052
19962    217.161221
21653    213.020703
21883    234.268020
23356    147.711905
23633    227.791249
24788    116.825408
25244    169.062438
25417     65.714892
25434    159.103535
25570    163.845891
26616    242.445128
26714    293.288138
28202    110.749433
29367    229.433851
29746    153.348009
31608    216.357863
33899    193.598006
35071    218.577867
35150    171.799316
35169    216.643255
38551    168.550405
39467    229.771084
41270     98.148444
41330    186.346036
44346    187.588376
44418    219.935954
45402    240.824841
45918     89.136278
46030    137.836526
49198    156.474164
50045    152.709070
50780    149.166095
52488    157.715557
54481    126.015797
57980    244.569704
59817    194.883768
59852    218.031686
62095    154.436922
65179    140.199183
65435    206.049157
65515    121.950613
67158    269.737079
68033    204.869092
Name: actor3SB, dtype: float64

In [175]:
qcut = pd.qcut(actor_all,3,labels=['low','meidan','high'])

In [165]:
qcut

0           low
310        high
659      meidan
1092     meidan
3529        low
4680       high
4718       high
7400       high
9875     meidan
11924       low
14907    meidan
14933       low
17426    meidan
19962    meidan
21653    meidan
21883       low
23356    meidan
23633       low
24788    meidan
25244       low
25417      high
25434      high
25570    meidan
26616      high
26714       low
28202    meidan
29367       low
29746    meidan
31608      high
33899    meidan
          ...
29367      high
29746       low
31608      high
33899    meidan
35071      high
35150       low
35169      high
38551       low
39467      high
41270       low
41330    meidan
44346    meidan
44418      high
45402      high
45918       low
46030       low
49198       low
50045       low
50780       low
52488       low
54481       low
57980      high
59817    meidan
59852      high
62095       low
65179       low
65435    meidan
65515       low
67158      high
68033    meidan
dtype: category
Categories (3, object): [low < meidan < high]

In [176]:
dfmap = pd.DataFrame({'SB':actor_all, 'range':qcut})

In [177]:
dfmap.to_excel('dfmap1.xlsx')

In [99]:
a1 = df['actor1SB']

In [167]:
dict1 = Series(dfmap.range.values,index=dfmap.SB).to_dict()

In [168]:
dict1

{nan: nan,
 65.714891769999994: 'low',
 72.844711540000006: 'low',
 75.313325509999999: 'low',
 89.13627769: 'low',
 98.148443700000001: 'low',
 98.392702979999996: 'low',
 106.0221298: 'low',
 106.68434280000001: 'low',
 107.64413590000002: 'low',
 110.7494334: 'low',
 116.8254082: 'low',
 121.95061299999999: 'low',
 124.30680190000001: 'low',
 125.33776370000001: 'low',
 126.0157966: 'low',
 126.2875291: 'low',
 127.66238290000001: 'low',
 135.0371949: 'low',
 136.18509460000001: 'low',
 137.47703810000002: 'low',
 137.8365264: 'low',
 140.19918330000002: 'low',
 145.3225894: 'low',
 145.38254019999997: 'low',
 145.87949819999997: 'low',
 147.62653889999999: 'low',
 147.71190540000001: 'low',
 149.16609530000002: 'low',
 152.0537635: 'low',
 152.70906980000001: 'low',
 153.3480094: 'low',
 154.42568439999999: 'low',
 154.43692240000001: 'low',
 154.69658039999999: 'low',
 156.474164: 'low',
 156.5911236: 'low',
 157.7155573: 'low',
 159.10353549999999: 'low',
 161.21934130000002: 'low',
 162.65174150000001: 'low',
 163.7879269: 'low',
 163.84589099999999: 'low',
 163.90287369999999: 'low',
 165.69249530000002: 'low',
 166.14293850000001: 'low',
 167.0820756: 'low',
 167.26288590000001: 'low',
 168.26070249999998: 'low',
 168.55040490000002: 'low',
 169.0624382: 'low',
 169.63076669999998: 'low',
 170.93037469999999: 'low',
 171.47838350000001: 'low',
 171.76231250000001: 'low',
 171.7993161: 'low',
 172.3421045: 'low',
 173.22918059999998: 'meidan',
 173.62112490000001: 'meidan',
 175.1940524: 'meidan',
 178.467378: 'meidan',
 178.70944019999999: 'meidan',
 178.80008669999998: 'meidan',
 179.41826830000002: 'meidan',
 180.61904939999999: 'meidan',
 180.84888720000001: 'meidan',
 181.6048237: 'meidan',
 182.18688209999999: 'meidan',
 182.77199730000001: 'meidan',
 182.88381830000003: 'meidan',
 183.43441609999999: 'meidan',
 183.93871530000001: 'meidan',
 184.29096559999999: 'meidan',
 185.14580469999999: 'meidan',
 185.73882470000001: 'meidan',
 185.88040240000001: 'meidan',
 186.34603559999999: 'meidan',
 187.58837649999998: 'meidan',
 188.64530740000001: 'meidan',
 189.762325: 'meidan',
 189.89174550000001: 'meidan',
 189.91828509999999: 'meidan',
 191.64528430000001: 'meidan',
 191.98636409999997: 'meidan',
 193.50045219999998: 'meidan',
 193.59800619999999: 'meidan',
 194.8773281: 'meidan',
 194.88376790000001: 'meidan',
 195.0509959: 'meidan',
 195.98196859999999: 'meidan',
 196.02941619999999: 'meidan',
 196.49253680000001: 'meidan',
 197.59184450000001: 'meidan',
 198.62774230000002: 'meidan',
 198.68690190000001: 'meidan',
 199.50512519999998: 'meidan',
 199.72111809999998: 'meidan',
 199.78425359999997: 'meidan',
 201.15598669999997: 'meidan',
 201.75306689999999: 'meidan',
 203.2003125: 'meidan',
 203.55751769999998: 'meidan',
 204.59011459999999: 'meidan',
 204.86909230000001: 'meidan',
 205.55445990000001: 'meidan',
 205.72720769999998: 'meidan',
 206.04915680000002: 'meidan',
 206.31782519999999: 'meidan',
 206.37327350000001: 'meidan',
 211.66213640000001: 'meidan',
 212.3273605: 'meidan',
 213.02070319999996: 'high',
 213.51209800000001: 'high',
 216.33060809999998: 'high',
 216.35786329999999: 'high',
 216.4192113: 'high',
 216.57301769999998: 'high',
 216.6432551: 'high',
 216.835825: 'high',
 217.16122119999997: 'high',
 218.03168579999999: 'high',
 218.10930980000003: 'high',
 218.12991769999996: 'high',
 218.4303985: 'high',
 218.57786710000002: 'high',
 218.7120481: 'high',
 219.01056600000001: 'high',
 219.93595430000002: 'high',
 220.39000200000001: 'high',
 222.98449269999998: 'high',
 223.88179920000002: 'high',
 224.39869649999997: 'high',
 225.00583330000001: 'high',
 227.79124869999998: 'high',
 228.4123026: 'high',
 229.43385099999998: 'high',
 229.77108390000001: 'high',
 234.2680196: 'high',
 234.848004: 'high',
 236.05447459999999: 'high',
 236.26048119999999: 'high',
 236.67781260000001: 'high',
 237.39766639999999: 'high',
 237.45044109999998: 'high',
 237.5282804: 'high',
 239.33555730000003: 'high',
 240.8248409: 'high',
 242.44512779999999: 'high',
 243.55527499999999: 'high',
 244.56970380000001: 'high',
 244.86865869999997: 'high',
 245.58204130000001: 'high',
 245.78680800000001: 'high',
 246.03091879999999: 'high',
 248.26862069999999: 'high',
 248.34700519999996: 'high',
 249.09860899999998: 'high',
 252.99838730000002: 'high',
 254.68629130000002: 'high',
 254.9629228: 'high',
 255.045096: 'high',
 258.78939700000001: 'high',
 266.75576090000004: 'high',
 269.73707939999997: 'high',
 278.1458538: 'high',
 285.24428130000001: 'high',
 293.28813819999999: 'high'}

In [169]:
df['actor1range'] = df['actor1SB']

In [170]:
df.replace({'actor1range':dict1})
df['actor1range']

0        126.287529
1        126.287529
2        126.287529
3        126.287529
4        126.287529
5        126.287529
6        126.287529
7        126.287529
8        126.287529
9        126.287529
10       126.287529
11       126.287529
12       126.287529
13       126.287529
14       126.287529
15       126.287529
16       126.287529
17       126.287529
18       126.287529
19       126.287529
20       126.287529
21       126.287529
22       126.287529
23       126.287529
24       126.287529
25       126.287529
26       126.287529
27       126.287529
28       126.287529
29       126.287529
            ...
68550    163.787927
68551    163.787927
68552    163.787927
68553    163.787927
68554    163.787927
68555    163.787927
68556    163.787927
68557    163.787927
68558    163.787927
68559    163.787927
68560    163.787927
68561    163.787927
68562    163.787927
68563    163.787927
68564    163.787927
68565    163.787927
68566    163.787927
68567    163.787927
68568    163.787927
68569    163.787927
68570    163.787927
68571    163.787927
68572    163.787927
68573    163.787927
68574    163.787927
68575    163.787927
68576    163.787927
68577    163.787927
68578    163.787927
68579    163.787927
Name: actor1range, dtype: float64